.env
.env.local
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.zst
*.tar.zstd
*.tar.zstd
node_modules
vendor
.DS_Store
.idea
.vscode
.env.local
.env.development
.env.production
.env.test
.env.testing
.env.staging